#admin-form{

        display: flex;
        flex-direction: column;
        width: 50%;
        text-align: center;
        margin: auto;
        padding: 20px;

}
#a-form{
    background-color: rgb(137, 137, 241);
    height:fit-content;
}